<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.MonitoringEventMapper">

    <resultMap id="BaseResultMap" type="com.springboot.model.entity.MonitoringEvent">
            <id property="id" column="id" />
            <result property="event_uid" column="event_uid" />
            <result property="camera_id" column="camera_id" />
            <result property="task_id" column="task_id" />
            <result property="event_type" column="event_type" />
            <result property="risk_level" column="risk_level" />
            <result property="confidence" column="confidence" />
            <result property="target_id" column="target_id" />
            <result property="pool_head_count" column="pool_head_count" />
            <result property="bbox_json" column="bbox_json" />
            <result property="position_desc" column="position_desc" />
            <result property="emergency_contact_name" column="emergency_contact_name" />
            <result property="emergency_contact_phone" column="emergency_contact_phone" />
            <result property="incident_location" column="incident_location" />
            <result property="video_stream_url" column="video_stream_url" />
            <result property="event_time" column="event_time" />
            <result property="ext_json" column="ext_json" />
            <result property="created_at" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,event_uid,camera_id,task_id,event_type,risk_level,
        confidence,target_id,pool_head_count,bbox_json,position_desc,
        emergency_contact_name,emergency_contact_phone,incident_location,video_stream_url,event_time,
        ext_json,created_at
    </sql>
</mapper>
